language = "csharp"
run = "mcs -out:main.exe 'Parte 10/main.cs' 'Parte 10/Categoria.cs' 'Parte 10/Produtos.cs' 'Parte 10/NCategoria.cs' 'Parte 10/NProdutos.cs' 'Parte 10/Cliente.cs' 'Parte 10/NCliente.cs' ; mono main.exe"